<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/categories/<%= category.id %>/edit" class="btn btn-success btn-xs" role="button">Edit</a>
  </div>
</div>
<br>

<h2><%= category.name %></h2>
<p><%= category.description %></p>

<h3>Products</h3>