<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/orders/<%= order.id %>/edit" class="btn btn-success btn-xs" role="button">Edit</a>
  </div>
</div>
<br>

<div>
  <h3><small>Order by</small> <%= order.customer.username %></h3>
  <hr>
  <h4>Products</h4>
  <div class="list-group">
    <% order.products.forEach(p => { %>
      <a href="/admin/products/<%= p.id %>" class="list-group-item list-group-item-action">
        <%= p.name %>
      </a>
    <% }) %>
  </div>
</div>