<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/customers/<%= customer.id %>/edit" class="btn btn-success btn-xs" role="button">Edit</a>
  </div>
</div>
<br>

<h2>
  <%= customer.username %>
</h2>
<p><%= customer.email %></p>
