<section class="row">
  <div class="col-md-12 col-lg-8">
    <div class="jumbotron">
      <h1 class="mb-4">Hello, world!</h1>

      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

      <p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">Learn more</a></p>
    </div>

    <div class="card mb-4">
      <div class="card-block">
        <h3 class="card-title">Recent Orders</h3>

        <div class="dropdown card-title-btn-container">
          <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>

          <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
              <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
              <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Order #</th>

                <th>Product</th>

                <th>Customer</th>

                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>0001</td>

                <td>Product Name 1</td>

                <td>Customer 1</td>

                <td>Complete</td>
              </tr>

              <tr>
                <td>0002</td>

                <td>Product Name 2</td>

                <td>Customer 2</td>

                <td>Complete</td>
              </tr>

              <tr>
                <td>0003</td>

                <td>Product Name 3</td>

                <td>Customer 3</td>

                <td>Processing</td>
              </tr>

              <tr>
                <td>0004</td>

                <td>Product Name 4</td>

                <td>Customer 4</td>

                <td>Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-block">
        <h3 class="card-title">Articles</h3>

        <div class="dropdown card-title-btn-container">
          <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>

          <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
              <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
              <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted">Latest news</h6>

        <div class="divider" style="margin-top: 1rem;"></div>

        <div class="articles-container">
          <div class="article border-bottom">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-2 date">
                  <div class="large">30</div>

                  <div class="text-muted">Jun</div>
                </div>

                <div class="col-10">
                  <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div><!--End .article-->

          <div class="article">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-2 date">
                  <div class="large">30</div>

                  <div class="text-muted">Jun</div>
                </div>

                <div class="col-10">
                  <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div><!--End .article-->

          <div class="article">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-2 date">
                  <div class="large">30</div>

                  <div class="text-muted">Jun</div>
                </div>

                <div class="col-10">
                  <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div><!--End .article-->
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div class="col-md-12 col-lg-4">
  </div>
</section>
<section class="row">
  <div class="col-12 mt-1 mb-4">Template by <a href="https://www.medialoot.com">Medialoot</a></div>
</section>
