<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title"><a href="/admin">
    <em class="fa fa-rocket"></em> R. Shop</a>
  </h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <em class="fa fa-bars"></em>
  </a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link <%- page_name === 'dashboard' ? 'active' : '' %>"
        href="/admin"
      >
        <em class="fa fa-chart-line"></em> Dashboard <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- page_name === 'categories' ? 'active' : '' %>" href="/admin/categories">
        <em class="fa fa-tags"></em> Categories
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- page_name === 'products' ? 'active' : '' %>" href="/admin/products">
        <em class="fa fa-cube"></em> Products
      </a>
    </li>
  </ul>
  <a href="#" class="logout-button"><em class="fa fa-power-off"></em> Signout</a>
</nav>